@model ElvenCurse.Website.Controllers.WorldViewmodel
@{
    ViewBag.Title = "title";
}

<div class="row">
    <div class="col-md-12">
        <div id="game"></div>
    </div>
</div>

<div id="serverpath" style="display:none">@Model.Serverpath</div>

@section scripts
{
    @Scripts.Render("~/bundles/frameworks")

    <script src="@Model.Serverpath/signalr/hubs"></script>

    @Scripts.Render("~/bundles/elvencurse")

    <script>
        window.onload = function () {
            //$.connection.hub.url = "@Model.Serverpath/signalr";
            var g = new ElvenCurse.Game();
        }
    </script>
}

@section header
{
<link href="~/Content/fontstyle.css" rel="stylesheet" />
    <style>
        .container {
            width: auto;
        }

        body {
            font-family: "beyond_wonderlandregular";
        }
    </style>
}
