@model ElvenCurse.Website.Controllers.CharacterlistViewmodel
@{
    ViewBag.Title = "Index";
}

<h2>Mine figurer</h2>

<div class="row" style="font-family: verdana;">
    <div class="col-md-2">
        
        <p>@Html.ActionLink("Ny figur", "Create", null, new { @class = "btn btn-default" })</p>

        <ul id="characterlist">
            @foreach (var character in Model.Characters)
            {
                <li onclick="location.href='@Url.Action("Index", new {id = character.Id})'" style="@(character.IsAlive ? Html.Raw("") : Html.Raw("font-style: Italic;"))">
                    @character.Name<br />
                    <span style="font-size:8pt">@(character.IsAlive ? Html.Raw("") : Html.Raw("Død<br>"))</span>
                    <span style="font-size:8pt">Level @character.Level</span><br />
                    <span style="font-size:8pt">@character.Location.Name</span>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-3" style="text-align: center;">
        @{
            var selChar = Model.Characters.FirstOrDefault(a => a.Id == Model.SelectedCharacterId);
        }
        @if (selChar != null)
        {
            <span>@selChar.Name</span>
            <div id="characterpreview" data-url="/charactersprite?id=@Model.SelectedCharacterId&@DateTime.Now.Ticks" style="display: none;"></div>
            <div id="game"></div>

            

            using (Html.BeginForm("EnterWorld", "Character", FormMethod.Post))
            {
                @Html.HiddenFor(a=>a.SelectedCharacterId)
                <input type="submit" value="Hop ind i verdenen" class="btn btn-primary" />
            }

        }
        else
        {
            <p>Vælg eller opret en figur</p>
        }
    </div>
</div>



@section scripts
{
    <script src="~/Sitescriptes/Phaser2.6.1/phaser.js"></script>
    <script src="~/Sitescriptes/Charactermodel/Charactermodel.js"></script>

    <script>
        var imgPath = '/charactersprite?t=@DateTime.Now.Ticks';

        $(function () {
            if ($("#game").length !== 0) {
                var game = new Phaser.Game(300, 300, Phaser.CANVAS, "game");
                game.state.add("ShowCharacter", Charactermodel.ShowCharacter);
                game.state.start("ShowCharacter");
            }
        });


    </script>}
}


@section header{
    <style>
        #characterlist li {
            line-height: 18px;
            font-size: 16px;
            border: 1px solid black;
            -ms-border-radius: 20px;
            border-radius: 20px;
            text-align: center;
            margin-bottom: 10px;
            cursor: pointer;
            background-color: #272b30;
        }

        #characterlist li:hover {
            background-color: #3e444c;
        }
        #characterlist
        {
            list-style: none;
            margin: 0;
            padding: 0;
        }

    </style>
}